body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 60px;
}

.boton {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 20px auto;
    padding: 12px 0;
    background-color: #007bff;
    color: white;
    text-decoration: underline;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.boton-formulario {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.formulario {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: left;
}

.formulario label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.formulario input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.formulario.formulario-nombres {
    text-align: center;
}

.formulario.formulario-nombres label {
    display: block;
    margin: 10px auto 5px auto;
    text-align: center;
}

.formulario.formulario-nombres input {
    display: block;
    width: 95%;
    margin: 0 auto 15px auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.resultado {
    margin-top: 10px;
    line-height: 1.3;
    color: #333;
}

.resultado-izquierda {
    font-size: 14px;
    text-align: left;
}

.resultado-centro {
    font-size: 12px;
    text-align: center;
}

.resultado p {
    margin: 4px 0;
}